#scoreBox {
	font-family: Impact, Charcoal, sans-serif;
	font-size: 36px;
	color: white;
}

#resetBox {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 28px;
	color: white;
}

#resetButton {
	background-color: transparent;
    border: none;
    color: white;
    padding-bottom: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: Impact, Charcoal, sans-serif;
    font-size: 28px;
}